@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background: #ffffff;
}

.page-header {
    display: flex;
    margin: 0;
    padding: 0;
}

.header-logo {
    display: block;
    width: 138px;
    margin-left: 70px;
    margin-right: 30px;
}

.logo-sedona {
    display: block;
}

.navigation {
    display: flex;
    width: 892px;
    margin: 0;
    margin-right: 70px;
    justify-content: space-between;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 339px;
    margin: 0;
    /* margin-right: 285px; */
    padding: 0;
    list-style-type: none;
}

.navigation-link {
    display: block;
    padding: 20px 16px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: #000000;
}

.navigation-link-current {

}

.navigation-user {
    display: flex;
    justify-content: flex-end;
    min-width: 268px;
    margin: 0;
    align-items: center;
}

.navigation-user .navigation-link {

    min-width: 20px;
    min-height: 20px;
}

.navigation-link-search {
    padding: 22px 12px;
    text-decoration: none;
    color: #000000;
    background: url("../images/search.svg") no-repeat center;
}

.navigation-link-heart {
    padding: 24px 13px 23px;
    text-decoration: none;
    color: #000000;
    background: url("../images/heart.svg") no-repeat center;
}

.quantity-selected {
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    background: #7DB54F;
    border-radius: 10px;
}

.navigation-user .navigation-link-button {
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background: #756157;
    min-width: 92px;
    min-height: 20px;
    margin-left: 20px;
    padding: 8px 34px;
    border-radius: 4px;
}

.main-container {
flex-grow: 1;
}

.main-index {

}

.page-container {
    margin: 0 auto;
    width: 1200px;
}

.main-inner {

}

.hero {
    color: #000000;
    background: #82B3D3 url("../images/mountains.jpg") no-repeat;
    background-size: 100% 100%;
    min-height: 485px;
}

.image-welcome-to-sedona {
    padding: 51px 371px 25px;
}

.advantages-title,
.advantage-title,
.search-title,
.subscription-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.advantages-title {
    margin: 69px 290px 25px;
}

.advantages-title-description,
.advantage-title-description,
.search-description,
.subscription-description {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    color: #333333;
}

.advantages-title-description {
    margin: 0 274.5px 90px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.advantages-item {
    width: 400px;
}

.advantages-item-town,
.advantages-item-bridge {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.advantages-item-wrapper {
    background: #82B3D3;
}

.advantages-item-invitation {
    width: 100%;
    box-sizing: border-box ;
}

.advantage-title {
    margin: 64px 347.5px 20px;
}

.advantage-title-description{
    margin: 0 355px 64px;
}

.advantages-item-housing,
.advantages-item-souvenirs {
    background: rgba(131, 179, 211, 0.12);;
}

.icon-housing,
.icon-food,
.icon-souvenirs {
    display: block;
    margin: 81px 162.5px 30px;
}

.advantage-subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    margin: 0 85px 30px;
}

.advantage-subtitle-town,
.advantage-subtitle-bridge {
    margin: 102px 112.5px 62px;
    color: #ffffff;
}

.advantage-description {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    margin: 0 85px 81px;
}

.advantage-description-town,
.advantage-description-bridge {
    margin: 0 85px 102px;
    color: #ffffff;
    background: #82B3D3;
}

.advantages-item-road {
    background: rgba(131, 179, 211, 0.2);
}

.search-title {
    margin: 96px 451.5px 20px;
}

.search-description {
    margin: 0 304px 54px;
}

.search-link-button {
    display: block;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    margin: 0 412px 96px;
    padding: 8px 50px;
    border-radius: 4px;
    background: #756157;
}

.subscription {
    background: #82B3D3 url("../images/subscribe-background.jpg") no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    min-height: 414.86px;
    padding-top: 96px;
}

.subscription-title-mailing-list {
    margin: 0 398px 20px;
    color: #ffffff;
}

.subscription-description-mailing-list {
    margin: 0 362.5px 54px;
    color: #ffffff;
}

.subscription-form-email {
    margin: 0 ;
}

.subscription-form {
    display: flex;
    flex-wrap: wrap;
    width: 684px;
    margin: 0 auto;
}

.input-email {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    background: #F2F2F2;
    border: none;
    border-radius: 4px 0px 0px 4px;
    width: 432px;
    padding: 14px 0 14px 20px;
}

.subscribe-button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background: #82B3D3;
    border: none;
    border-radius: 0px 4px 4px 0px;
    min-width: 232px;
}

.page-footer-container {
    display: flex;
    width: 1060px;
    margin: 40px 70px 30px;
}

.footer-social {
    min-width: 142px;
    margin: 0;
    margin-right: 41.5px;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social-link-button {
    display: block;
}

.social-link-button-vk {
    min-width: 24px;
    min-height: 14px;
    padding: 13px 11.67px;
    background: url("../images/vk.svg") no-repeat center;
}

.social-link-button-telegram {
    min-width: 18px;
    min-height: 16px;
    padding: 12px 14.67px;
    background: url("../images/telegram.svg") no-repeat center;
}

.social-link-button-youtube {
    min-width: 22px;
    min-height: 17px;
    padding: 11.5px 12.67px;
    background: url("../images/youtube.svg") no-repeat center;
}

.footer-phone {
    width: 720px;
    margin-right: 41.5px;
    text-align: center;
}

.footer-phone-link {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.footer-logo {
    display: block;
    width: 115px;
}

.filter {
    background: #82B3D3 url("../images/filter-background.jpg") no-repeat;
    background-size: 100% 100%;
    min-height: 412px;
}

.filter-content {
    width: 1060px;
    margin: 0 70px;
    padding: 0;
}

.filter-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    color: #ffffff;
}

.breadcrubs-list {
    display: flex;
    margin: 0;
    padding: 0;
    width: 114px;
    list-style: none;
    color: #ffffff;
}

.icon-home {
    background: url("../images/home.svg") no-repeat;
}

.icon-arrowtoright {
    background: url("../images/arrow-to-right.svg") no-repeat;;
}

.filter-hotel {
    width: 1060px;
    margin: 0;
    padding: 0;
}

.filter-hotel-form {
    display: flex;
    margin: 0;
}

.filter-hotel-group {
    width: 151px;
    margin-right: 70px;
    padding: 0;
    border: none;
}

.filter-hotel-group-housing-type {
    margin-right: 140.15px;
}

.filter-hotel-group-price {
    width: 288px;
}

.filter-hotel-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color: #ffffff;
}

.filter-hotel-list {
    padding: 0;
    list-style: none;
}

.filter-hotel-control {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    text-transform: none;
    color: #ffffff;
}

.filter-hotel-buttons {
    display: flex;
    flex-direction: column;
}

.filter-hotel-button {
    line-height: 23px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: none;
}

.button-blue {
    background: #82B3D3;
}

.hotels-sorting {
    display: flex;
    width: 1060px;
    margin: 0 70px;
    padding: 0;
}

.hotels-search-result {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    width: 338px;
    margin-right: 200px;
    padding: 0;
}

.select-control {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    width: 292px;
    margin-right: 70px;
    padding: 0;
}

.hotels-list {
    display: flex;
    flex-wrap: wrap;
    width: 1060px;
    margin: 0 70px;
    padding: 0;
    list-style: none;
}

.hotel-card {
    width: 340px;
    margin-right: 20px;
}

.hotel-card-desert {
    margin-right: 0;
}

.hotel-card-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
}

.hotel-card-description {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
}

.hotel-price {
    text-align: right;
}

.hotel-link-button {
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background: #756157;
}

.hotels-favorites-button {
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #82B3D3;
}

.hotel-rating {
    line-height: 20px;
    font-weight: 740;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background: #F2F2F2;
}

.pagination-list {
    display: flex;
    width: 1060px;
    margin: 0 70px;
    padding: 0;
    list-style: none;
    text-align: center;
}

.pagination-item {
    width: 60px;
    margin-right: 8px;
    padding: 0;
    background: #82B3D3;
}

.pagination-link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.pagination-link-current {
    color: #000000;
}

.pagination-link-points {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    color: #000000;
}

.subscription-catalog {
    width: 100%;
    box-sizing: border-box;
    background: none;
}

.subscription-catalog-container {
    width: 684px;
    margin: 0 auto;
    padding: 0;
}
