@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background: #ffffff;
}

.page-header {
    color: inherit;
    background: inherit;
}

.navigation-link{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: inherit;
    background: inherit;
    text-decoration: none;
    text-transform: capitalize;
}

.quantity-selected {
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    background: #7DB54F;
    text-transform: capitalize;
}

.main-index {
    color: #000000;
    background: #ffffff;
}

.hero {
    color: #000000;
    background: #ffffff url("../images/mountains.jpg") no-repeat;
    background-size: 100% auto;
}

.advantages-list {
    text-align: center;
}

.advantage-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
